params {
    input = "samplesheet.csv"
    outdir = "results"
    
    // Metadata filtering parameters
    filter_state = "KS"           // State code (e.g., "KS", "CA", "TX")
    filter_year_start = null      // Minimum year (e.g., 2020)
    filter_year_end = null        // Maximum year (e.g., 2023)
    filter_source = null          // Source pattern (e.g., "chicken", "clinical")
    
    // AMR parameters
    amrfinder_db = ""
    
    // Phage parameters
    prophage_db = "/homes/tylerdoe/databases/prophage_db.dmnd"
    checkv_db = "/homes/tylerdoe/databases/checkv-db-v1.5"
}

process {
    executor = 'slurm'
    queue = 'batch.q'
    
    withName: 'AMRFINDER' {
        container = 'quay.io/biocontainers/ncbi-amrfinderplus:3.12.8--h283d18e_0'
        cpus = 4
        memory = '8.GB'
        time = '1h'
    }
    
    withName: 'VIBRANT' {
        container = 'docker://staphb/vibrant'
        cpus = 8
        memory = '16.GB'
        time = '12h'
    }
    
    withName: 'DIAMOND_PROPHAGE' {
        container = 'docker://staphb/diamond'
        cpus = 4
        memory = '8.GB'
        time = '1h'
    }
    
    withName: 'CHECKV' {
        container = 'docker://quay.io/biocontainers/checkv:1.0.2--pyhdfd78af_0'
        cpus = 2
        memory = '8.GB'
        time = '2h'
    }
    
    withName: 'PHANOTATE' {
        container = 'quay.io/biocontainers/phanotate:1.6.7--py311he264feb_0'
        cpus = 2
        memory = '4.GB'
        time = '4h'  // Increased from 2h to handle timeout issues
    }
    
    withName: 'DOWNLOAD_NARMS_METADATA' {
        container = 'quay.io/biocontainers/entrez-direct:16.2--he881be0_1'
        cpus = 1
        memory = '2.GB'
    }
    
    withName: 'FILTER_NARMS_SAMPLES' {
        container = 'quay.io/biocontainers/pandas:1.5.2'
        cpus = 1
        memory = '4.GB'
    }
    
    withName: 'DOWNLOAD_SRA' {
        container = 'quay.io/biocontainers/sra-tools:3.0.3--h87f3376_0'
        cpus = 4
        memory = '8.GB'
        time = '2h'
    }
    
    withName: 'ASSEMBLE_SPADES' {
        container = 'quay.io/biocontainers/spades:3.15.5--h95f258a_1'
        cpus = 8
        memory = '32.GB'
        time = '12h'
    }
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.apptainer/cache"
}
