/*
 * -------------------------------------------------
 *  USDA SCINet Atlas HPC Configuration
 * -------------------------------------------------
 * Configuration for running COMPASS pipeline on USDA SCINet Atlas cluster
 * https://scinet.usda.gov/guides/resources/atlas
 */

params {
    config_profile_name = 'Atlas'
    config_profile_description = 'USDA SCINet Atlas HPC cluster profile'
    config_profile_contact = 'SCINet Support <scinet-vrsc@usda.gov>'
    config_profile_url = 'https://scinet.usda.gov/guides/resources/atlas'

    // Maximum resources available on Atlas
    // Standard nodes: 96 cores, 384 GB RAM
    // High-memory nodes: 96 cores, 1.5 TB RAM
    max_cpus = 96
    max_memory = 384.GB
    max_time = 336.h  // 14 days
}

process {
    executor = 'slurm'
    queue = 'atlas'  // Default Atlas queue

    // Atlas-specific SLURM options
    clusterOptions = '--mail-type=END,FAIL'
}

// Apptainer/Singularity configuration for Atlas
apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "$TMPDIR/.apptainer/cache"
    runOptions = '--cleanenv --no-home'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$TMPDIR/.singularity/cache"
    runOptions = '--cleanenv --no-home'
}

// Enable execution reports
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_atlas.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_atlas.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_atlas.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_atlas.svg"
}
