/*
 * -------------------------------------------------
 *  Kansas State University Beocat HPC Configuration
 * -------------------------------------------------
 * Configuration for running COMPASS pipeline on K-State Beocat cluster
 * https://www.cis.ksu.edu/beocat
 */

params {
    config_profile_name = 'Beocat'
    config_profile_description = 'Kansas State University Beocat HPC cluster profile'
    config_profile_contact = 'Beocat Support <beocat-help@cis.ksu.edu>'
    config_profile_url = 'https://www.cis.ksu.edu/beocat'

    // Maximum resources available on Beocat
    max_cpus = 64
    max_memory = 256.GB
    max_time = 168.h  // 7 days
}

process {
    executor = 'slurm'
    queue = 'batch.q'

    // Beocat-specific SLURM options
    clusterOptions = '--mail-type=END,FAIL'
}

// Apptainer/Singularity configuration for Beocat
apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.apptainer/cache"
    runOptions = '--cleanenv'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity/cache"
    runOptions = '--cleanenv'
}

// Enable execution reports
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_beocat.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_beocat.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_beocat.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_beocat.svg"
}
